@import 'bootstrap/dist/css/bootstrap';


.no-right-padding{
    padding-right: 0 !important;
}


.no-left-padding{
    padding-left: 0 !important;
}

.search-area{
    padding-top: 50px;
  }

.result-block{
    display: inline-block;
    margin-bottom: 1rem;
}
.result-friend-block{
    display: inline-block;
    margin-bottom: 1rem;
    size: 2rem;
}



.top-buffer{
    margin-top: 10px;
}

.logout-btn{
    margin-right:5px;
}

.track-table{
    margin-top:10px;
}

.nav-user{
    margin-right: 10px;
    margin-top: 5px;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .form {
    border: 1px solid;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
  }
  
  .form input {
    border-radius: 15px;
   padding: 10px;
   width: 80%;
  }
  
  .weak {
   font-weight: 300;
   color: red;
  }
  
  .strong {
   font-weight: 600;
   color: lightgreen;
  }
  
  .very-strong {
   font-weight: 900;
   color: darkgreen;
  }
  .not-matched {
    font-weight: 600;
    font-family: sans-serif;
    color: red;
   }
   
   .password-matched {
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(59, 95, 59);
   }
